{% macro cjsPolarChart() %}
<div class="card h-100">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h5 class="card-title mb-0">Average Skills</h5>
      <div class="dropdown">
        <button
          class="btn p-0"
          type="button"
          id="cjsPolarMenu"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="bx bx-dots-vertical-rounded"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cjsPolarMenu">
          <a class="dropdown-item" href="javascript:void(0);">Last 28 Days</a>
          <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
          <a class="dropdown-item" href="javascript:void(0);">Last Year</a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <canvas id="cjsPolarChart" data-height="337"></canvas>
    </div>
  </div>
{% endmacro %}